<div id="stats" class="well">
    <img src="/assets/loader.gif" class="loader">
    <label class="start alert alert-info">Waiting for players to join the race.</label>
    <div ng-repeat="(user_id,value) in participants">
        {{user_id}}
        <div class="progress progress-striped active">
            <div class="bar" style="width: {{value.progress}}%;"></div>
        </div>

    </div>
</div>

<div id="typing-section">
    <div class="quote">

        <span ng-repeat="word in quote.words" id="word_{{$index}}" ng-class="isHighlighted($index)">
            {{word}}
        </span>

    </div>

    </br>

    <div><input type="text" class="user-entry" disabled/></div>
</div>
