/* app css stylesheet */

input.error{
    color: red;
}

body {

}

.container{
    margin-top: 40px;
}

.quote .highlighted{
    color: green;
    font-weight: bold;
}

.quote{
    color: #808080;
    font-size: 2em;
}

input.user-entry{
    width: 500px;
    height: 30px;
    font-size: 1.5em;
}


