/* app css stylesheet */

input.error{
    color: red;
}

body {
  padding-top: 20px;
}

.quote .highlighted{
    color: green;
    font-weight: bold;
}

.quote{
    color: #808080;
    font-size: 2em;
}


